/* Pallette 
#35475F; - blue
#D4B996; - beige
#061D37; - navy
#3f424a; - slate
#c92d02; - orange
#0351a3 - blue royal
#f0f2f5; - light blue 
*/




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

h1, h2 , h3, h4, h5, p {
  margin: 10px;
}

h1 {
  margin: 50px auto;
}

h4 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

body {
  text-align: center;
}

main {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

/* Page Transitions */
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}


/* navigation */
header {
  display: flex;
  background: rgb(0,17,43);
  background: linear-gradient(90deg, rgba(0,17,43,1) 0%, rgba(63,66,74,1) 100%);
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  padding: 0 10%;
  align-items: center;
  height: 100px;
  position: relative;
}






/* LOGO */
.head-logo {
  padding-top: 5px;
}

.logo svg {
  height: 60px;
  width: 60px;
}

.spin {
  animation: spin 30s linear infinite;
  position: absolute;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.jf {
  padding-left: 0.5px;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  opacity: 1;
}

.jf:hover {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 0;
}


/* NAV */
nav {
  display: block;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 30px 20px;
}

nav a {
  text-decoration: none;
  font-size: 1em;
  opacity: 1;
  color: #fff;
  transition: 0.2s ease;
}

nav a:hover {
opacity: 0.7;
transition: 0.2s ease;
}



/* FOOTER */

footer {
  height: 25vh;
  width: 100%;
  Max Compatibility (IE6+)
  background: rgb(0,17,43);
  background: linear-gradient(0deg, rgba(0,17,43,1) 0%, rgba(43,51,64,1) 100%);
  position: absolute;
  position: static;
  bottom: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.footer-social {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.footer-social div {
  background: #35475F;
  width: 40px;
  border-radius: 100px;
  height: 40px;
  padding-top: 5px;
  padding-left: 2px;
  margin: 0 6px;

}

.line {
  width: 80%;
  border-bottom: 0.5px solid #3f424a;
  margin: 50px 10% 10px 10%;
}

.footer-social div a {
  color: #fff;
  font-size: 25px;
  transition: 1s ease;
}

.footer-social div a:hover {
  color: #061D37;
  transition: 0.5s ease;
}



.rights {
  color: white;
  padding-top: 30px;
}

.rights a {
  color: #c92d02;
}

.rights a:visited {
  color: #c92d02;
}




/* HOME */
#home {
  height: 100vh;
  min-height: 100%;
  width: 100%;
}




.home-title {
  width: 40%;
  text-align: left;
  margin-top: 20%;
  margin: 20% 50% 0 10%;
  color: #061D37;
}

.home-title h3 {  
  font-weight: bolder;
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 0.5s;

}


.home-title h1 {
  font-size: 60px;
  margin: 10px 0;
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 1.5s;
     
}

.home-title p {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 2.5s;
}


.lang {
  width: 80%;
  display: flex;
  background: #f0f2f5;
  border-radius: 3px;
  padding-bottom: 10px;
}

.lang div {
text-align: center;
}

.lang i {
  font-size: 25px;
}

.lang .l1 {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 3.5s;
}
.lang .l2 {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 4s;
}
.lang .l3 {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 4.5s;
}
.lang .l4 {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 5s;
}
.lang .l5 {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 5.5s;
}
.lang .l6 {
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 6s;
}


/* View Work Btn */
.view-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #c92d02; 
  color: #fff;
  width: 120px;
  text-align: center;
  border-radius: 25px;
  margin-top: 30px;
  padding: 5px;
  transition: 0.3s ease;
  border: 1px solid #c92d02; 
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 0.5s;
       white-space: nowrap;
}

.view-btn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  color: #fff;
}


.view-btn:hover {
  padding-right: 24px;
}

.view-btn:hover:after {
  opacity: 1;
  right: 10px;
  transition: 0.5s ease-in-out;
}

.view-btn a {
  color: #fff;
  font-weight: bolder;
}



/* PORTFOLIO */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 1rem;
  margin: 100px 10px 200px 10px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  opacity: 1;
  background: #f0f2f5;
  padding: 100px 0;
}

.grid-container:hover .grid-item {
  opacity: 0.8;
  transition: transform 1s ease-in-out;
}

.grid-container:hover .grid-item:hover {
  opacity: 1;
  transition: transform 1s ease-in-out;
}

.grid-item {
  transition: transform 0.5s;
  position: relative;
  transition: 0.5s ease-in-out;
  margin-bottom: 50px;
}


.grid-item:hover {
  transform: translateY(-10px);
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -webkit-box-shadow: 9px 22px 29px 20px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 22px 29px 20px rgba(0,0,0,0.75);
  box-shadow: 9px 22px 29px 20px rgba(0,0,0,0.75);
  transition: 0.5s ease-in-out;
}

.grid-item img {
  width: 100%;
  margin-bottom: -10px;
}


/* Popup Box */

.modal {
  display: none;
  position: fixed;
  z-index: 8888;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: default;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
}

.modal-content {
  margin: 10vh auto;
  border: 1px solid #888;
  width: 90%;
  height: 80%;
  background: #fff;
  display: flex;
}

.modal-split {
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin: 150px 20px;
}

/* Pallette 
#35475F; - blue
#D4B996; - beige
#061D37; - navy
#3f424a; - slate
#c92d02; - orange
#0351a3 - blue royal
#f0f2f5; - light blue 
*/


.close {
  color: #3f424a;  
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 15px;

}

.close:hover,
.close:focus {
  color: #35475F;
  text-decoration: none;
  cursor: pointer;
}


.modal-content img {
  width: 800px; 
  float: left;
}

.modal-info {
  text-align: left;
  margin: 0 10px; 
}

/* Pallette 
#35475F; - blue
#D4B996; - beige
#061D37; - navy
#3f424a; - slate
#c92d02; - orange
#0351a3 - blue royal
#f0f2f5; - light blue 
*/



.modal-info h1 {
background: #35475F;  
color: #fff;
margin: 0;
padding: 10px;
}

.modal-info h3 {

}

.modal-info p {
  text-align: justify;
  width: 100%;
  margin: 30px 0;
  padding: 10px; 
}

.modal-info div {
  font-size: 25px;
  color: #061D37;
}


.view-site {
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #c92d02; 
  color: #fff;
  width: 120px;
  text-align: center;
  border-radius: 25px;
  margin-top: 30px;
  padding: 5px;
  transition: 0.3s ease;
  border: 1px solid #c92d02; 
  opacity: 0;
  -webkit-animation: fadein 3s ease forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s ease forwards; /* Firefox < 16 */
   -ms-animation: fadein 3s ease forwards; /* Internet Explorer */
    -o-animation: fadein 3s ease forwards; /* Opera < 12.1 */
       animation: fadein 3s ease forwards;
       animation-delay: 0.5s;
}

.view-site:after {
  content: '»';
  position: absolute;
  opacity: 0;
}

.view-site:hover {
  padding-right: 24px;
}

.view-site:hover:after {
  opacity: 1;
  right: 10px;
  transition: 0.5s ease-in-out;
}




.view-code i {
  transition: 1s ease-in-out;
  padding-left: 5px;
}

.view-code:hover i {
  transition: 1s ease-in-out;
  color: #c92d02;
}

.testimonial {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 30px 20% 100px 20%;
  text-align: justify;
}

.testimonial img {
  border-radius: 50%;
  width: 150px !important;
  height: 150px !important;
  margin-right: 40px;
}

.testimonial h2 {

}

.testimonial h3 {
  font-size: 14px;
  padding: 6px 0;
}














/* BLOG */



/* CONTACT */
.contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 200px;
  background: #f0f2f5;

}

.details {
  flex: 50%;
  padding-top: 50px;
  color: #061D37;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 528px;

}


.details h3,
.details p,
.details a,
.js-emaillink {
  padding-top: 20px;
  text-align: left;
}

.details img {
  height: 150px;
  border-radius: 50%;
}


.copy {
  width: 30px;
  border: none;
  background: none;
}

.copy:hover {
  cursor: pointer;
  color: #35475F;
}

.email {
  white-space: nowrap;
  position: relative;
}

.email h3 {
  padding-right: 10px;
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 125%;
  margin-left: 80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


.line2 {
  width: 100%;
  padding-top: 30px;
  border-bottom: 0.5px solid #3f424a; 
}

.icons {
  color: #35475F;
  width: 25px;
  height: 25px;
  padding: 20px;
  transition: 0.3s ease;
}

.icons:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}


.form {
  flex: 50%;
  height: 500px;
}

form {
  text-align: center;
  padding-bottom: 50px;
  font-size: 12px;
  font-weight: lighter;
}

form div {
  padding-top: 40px;
}

label {
  color: #061D37;
  width: 400px;
  font-size: 1.5em;
}


input {
  width: 400px;
  height: 30px;
  border: 0.8px solid #808080;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
}

input:hover, input:focus {
  border: 0.8px solid #3f424a;
  transition: border 0.5s ease-in-out;
}

.message {
  height: 60px;
  width: 400px;
  border: 0.8px solid #808080;
  padding: 3px;
  border-radius: 3px;
}

.message:hover, input:focus {
  border: 0.8px solid #3f424a;
  transition: border 0.5s ease-in-out;
}

.submit {
  width: 400px;
  border: 1px solid #35475F;
  background: #35475F;
  color: #fff;
  padding: 6px;
  border-radius: 3px;
  transition: 0.5s ease;

}

.submit:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.9;
  transition: 0.5s ease;
}








/* MOBILE MENU */
/* Scaled Down Menu */
.menu-btn {
  z-index: 500;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  display: none;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(360deg);
  padding-top: 25px;
}

.menu-btn.close .btn-line {
  opacity: 0.3;
  transition: 0.3s;
}

.menu-btn.close .btn-line:hover {
  opacity: 1;
  transition: 0.3s;
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  z-index: 2;
  margin: 0;
  padding: 0;
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: none;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-nav {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #3f424a;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  padding-top: 100px;
}

/* Pallette 
#35475F; - blue
#D4B996; - beige
#061D37; - navy
#3f424a; - slate
#c92d02; - orange
#0351a3 - blue royal
#f0f2f5; - light blue 
*/




.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}

.menu .nav-item.current>a,
.current {
  color:  #fff;
  cursor: default;
  opacity: 0.8;
}

.current:hover {
  color: #0351a3;
  cursor: default;
}

.nav-link {
  font-size: 25px !important;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  transition: all 0.3s ease 0.1s;
  padding-top: 30px;
  transition: 0.3s;
}



/* Pallette 

#35475F; - blue
#D4B996; - beige
#061D37; - navy
#3f424a; - slate
#c92d02; - orange
#0351a3; - blue royal
#f0f2f5; - light blue 
*/


.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

.nav-item:nth-child(5) {
  transition-delay: 0.5s;
}


.responsive-logo {
margin-top: 30px;
}












































































/* MEDIA QUERIES */
@media screen and (max-width: 1395px) {



.home-title {
  width: 80%;
}



/* Porfolio */
  .grid-container {
    display: flex;
    flex-direction: column;
    margin: 30px 1%;
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  
  .grid-container:hover .grid-item {
    opacity: 1;
    transition: none;
  }
  
  .grid-container:hover .grid-item:hover {
    opacity: 1;
    transition: none;
  }
  
  .grid-item {
    padding: 5px;
    position: relative;
    transition: none;
  }
  
  .grid-item:hover {
    transform: none;
    opacity: 1;
    box-shadow: none;
    transition: none;
  }

.modal-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.modal-split {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
}


  .close {
    position: absolute;
    right: 5px;
}

.modal-content img {
  width: 80%; 
  margin: 10px auto;
}

.modal-info {
  width: 80%;
  margin: 0 auto;
}

.modal-info h1 {
font-size: 20px;
}

.modal-info p {
  margin: 0;
}
















  

/* Contact */
.container {
  display: none;
}

.testimonial {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.testimonial img {
  margin-bottom: 30px;
}

}





@media screen and (max-width: 800px) {
  body {
    width: 100%;
  }

  h1 {
    font-size: 2em;
  }
  

  
  
  .contact {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    display: none;
  }

  .menu-btn {
    z-index: 5;
    right: 35px;
    top: 35px;
    display: block;
  }

  .menu {
    z-index: 2;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: none;
    visibility: hidden;
  }

  .menu-nav {
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding-bottom: 70%;
  }

  .rights {
    padding-top: 5px;
  }
}























.